@inherits LayoutComponentBase

<PageTitle>IoT Monitoring App</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color:#eef1ff">
        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>
