@using System.Reflection.Metadata
@using FM4017Library.DataModels

<div class="alert" style="background-color:#eef1ff; text-align:center; border-radius: 20px">

    @*<img src=@MyPoint?.ImageUrl style=" height:80px">*@
    <a target="_blank" href="@MyPoint?.ImageUrl"><img src=@MyPoint?.ImageUrl style="height:80px"></a>

    <h3 class="py-2">@MyPoint?.Name</h3>
    <h2>@MyPoint?.signals?.LastOrDefault()?.Value @MyPoint?.signals?.LastOrDefault()?.Unit</h2>

    Updated: @MyPoint?.signals?.LastOrDefault()?.Timestamp.ToString("dd-MM-yy HH:mm") <br />

    <hr size="10" style="color:#1b1a5a;">
    Longitude: @MyPoint?.Longitude Latitude: @MyPoint?.Latitude
    <br />
    @if (MyPoint?.Latitude != null && MyPoint?.Longitude != null)
    {
        <a target="_blank" href="https://www.google.com/maps/dir/?api=1&travelmode=driving&destination=@MyPoint?.Longitude,@MyPoint?.Latitude "><span class="oi oi-location">Show on map</span></a>
    }

</div>


@code {
    [Parameter]
    public FM4017Library.DataModels.Point? MyPoint { get; set; }
}
