@page "/ChartHistory"
@using FM4017Library.DataAccess
@using BlazorMonitoring.Pages.Components

@inject IDataAccess _d4DataService



<div style="background-color:white; text-align:center; border-radius: 30px; padding: 30px">

    <h3>Historical Data</h3>
    <hr class="border border-primary border-3 opacity-25">

    <HistoricalSignalChart SignalNodes="SignalNodes"></HistoricalSignalChart>

    @*Select Data*@
    <br />
    <hr class="border border-primary border-3 opacity-25">
    <h5>Select Data</h5>

    <label>Point:</label>
    <SfDropDownList TValue="string" Value="SelectedPointId" TItem="HelperPoint" DataSource="@PointsWithSignals" Placeholder="Select a point">
        <DropDownListFieldSettings Value="ID" Text="Name"></DropDownListFieldSettings>
    </SfDropDownList>

    <label class="col-md-3">Start Date:</label>
    <div class="col-auto">
        <SfDatePicker TValue="DateTime?" @bind-Value="@StartDate" ></SfDatePicker>
    </div>

    <label class="col-md-3">Duration:</label>
    <SfDropDownList TValue="int" TItem="Duration" @bind-Value="SelectedDuration" DataSource="@LocalData">
        <DropDownListFieldSettings Value="Days" Text="Text"></DropDownListFieldSettings>
    </SfDropDownList>

       
    <br />
    <br />
    <button class="btn btn-primary" @onclick="(() => GetSignals(SelectedPointId, StartDate, SelectedDuration) )">Update Chart</button>


    <button class="btn btn-primary" @onclick="PointNodesWithSignals">PointNodesWithSignals</button>


    @if (GettingSignals)
    {
        <p><em>Loading...</em></p>
    }

</div>

@code {
    public string SelectedPointId { get; set; } = "63230f2eeac7b9f938eb29b1";

    public DateTime? StartDate { get; set; } = DateTime.Now.AddDays(-10);
    private int SelectedDuration { get; set; } = 1;

    public class HelperPoint
    {
        public string? Id { get; set; }
        public string? Name { get; set; }
    }

    public List<HelperPoint> PointsWithSignals = new() {
        new HelperPoint() { Id = "1dsafadsfas", Name = "Comfirt Sensor"},
        new HelperPoint() { Id = "sdfadsf2", Name = "Temp sensor"},
    };

    public class Duration
    {
        public int Days { get; set; }
        public string? Text { get; set; }
    }

    public List<Duration> LocalData = new() {
        new Duration() { Days = 1, Text = "1 day"},
        new Duration() { Days = 2, Text = "2 days"},
        new Duration() { Days = 3, Text = "3 days"},
        new Duration() { Days = 7, Text = "1 week"},
    };

}
