@page "/ChartHistory"
@using FM4017Library.DataAccess
@using BlazorMonitoring.Pages.Components

@inject IDataAccess _d4DataService



<div style="background-color:white; text-align:center; border-radius: 30px; padding: 30px">

    <h3>Historical Data</h3>
    <hr class="border border-primary border-3 opacity-25">

    <HistoricalSignalChart SignalNodes="SignalNodes"></HistoricalSignalChart>

    @*Select Data*@
    <br />
    <hr class="border border-primary border-3 opacity-25">
    <h5>Select Data</h5>

        <div class="row">
            <label class="col-auto">Point:</label>
            <div class="col-auto">
            </div>
        </div>
        <div class="row">
            <label class="col-auto">Start Date:</label>
            <div class="col-auto">
                <SfDatePicker TValue="DateTime?" Value="@StartDate" Placeholder='Choose a Start Date'></SfDatePicker>
            </div>
        </div>
    <div class="row">
        <label class="col-auto">Duration:</label>
        <div class="col-auto">
        </div>
    </div>

        <button class="btn btn-primary" @onclick="GetSignals">Update Chart</button>
    

</div>

@code {
    public DateTime StartDate { get; set; } = DateTime.Now;
}
