@page "/D4Points"
@using BlazorMonitoring.Pages.Components

<h3>D4 Points</h3>



@if (pointNodes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PointTable Points=@pointNodes />

    <SignalTable Signals=@signalNodes />

}

@code {
    
}
