@page "/detailedView"
@using BlazorMonitoring.Pages.Components
@using System.ComponentModel
@using FM4017Library.Dtos
@inject IConfiguration config
@inject DataAccess dataAccess

<h3>dimension four tenant: @config["dimensionfour:header1value"]</h3>

@if (dataAccess?.SpaceNodes is null)
{
    <p><em>Loading...</em></p>

}
else
{
    <SpaceTable Spaces="@dataAccess.SpaceNodes" />
}


@code {

    protected override void OnInitialized()
    {
        dataAccess.PropertyChanged += PropertyHasChanged;
    }

    private void PropertyHasChanged(object? sender, PropertyChangedEventArgs args)
    {
        InvokeAsync(StateHasChanged);
    }
}