@page "/D4Tenant"
@using BlazorMonitoring.Pages.Components
@inject IConfiguration _config


<h3>Dimension Four tenant: @_d4TenantName</h3>
@*updated: @_updateDateTime*@

@if (spaceNodes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SpaceTable Spaces="@spaceNodes"  />

}

@code {
    
}
