@page "/D4Tenant"
@using BlazorMonitoring.Pages.Components

<h3>D4 Points</h3>



@if (spaceNodes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    

    <SpaceTable Spaces="@spaceNodes"  />





}

@code {
    
}
