@page "/NotesAndLinks"


<h3>Useful Links</h3>

JSON <br />
<a href="https://app.quicktype.io" title="Quicktype - helps infer and produce types and JSON (de)serializers for e.g. C#">app.quicktype.io</a> <br/>
<a href="https://jsoneditoronline.org">jsoneditoronline.org</a>
<br /><br />

Themes <br />
<a href="https://bootswatch.com/">bootswatch.com/</a>
<br /><br />

Blazor API Client using REST & GraphQL APIs - Full Course <br />
<a href="https://www.youtube.com/watch?v=agIJTnpfFGA">https://www.youtube.com/watch?v=agIJTnpfFGA</a> 
<br />
<br />

Blazor Server Components - Making Razor Components Easy to Use <br />
<a href="https://www.youtube.com/watch?v=JE0tQ4tx0Nc&t=1272s">https://www.youtube.com/watch?v=JE0tQ4tx0Nc&t=1272s</a>


Intro to Blazor Server Side - Includes SQL Data Access and Best Practices
<br />
<a href="https://www.youtube.com/watch?v=8DNgdphLvag&t=120s">https://www.youtube.com/watch?v=8DNgdphLvag&t=120s</a>


<br />
<br />




@code {

}
