@page "/PointList"

@using BlazorMonitoring.Pages.Components

<div class="controlRow">
    <button class="btn btn-primary" @onclick=AddPoint>Add</button>
    <button class="btn btn-warning" @onclick=RemovePoint>Remove All</button>
    <br />
    <br />
</div>

<div class="row">
    @foreach (var point in _pointList)
    {
        <div class="col-md-4">
            <Point Mypoint=@point></Point>
        </div>
    }
</div>


@code {
    
    
}
